
    @import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

    @font-face{
        font-family: 'Chilanka', cursive;
        src: url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
    }
    body{
        font-family: 'Chilanka', cursive;
        font-weight: bold;
    }